<ion-content class="no-scroll">
  <div class="table-menu">
    <div class="image-container">
      <ion-img src="assets/icon/favicon.png"></ion-img>
      <ion-title>
        Consigliere
        <ion-badge color="danger">alpha</ion-badge>
      </ion-title>
    </div>
    <div class="grid-content-center">
      <ion-button
        *ngIf="isGameStarted$ | async"
        shape="round"
        routerLink="game"
        id="continue-button"
        routerDirection="forward"
      >
        {{ "TABS.TABLE.continue" | translate }}
      </ion-button>
      <ion-button
        *ngIf="(isGameStarted$ | async) === false"
        data-cy="new-game-button"
        shape="round"
        routerLink="preparation"
        routerDirection="forward"
        (click)="resetGameState()"
      >
        {{ "TABS.TABLE.newGame" | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
