@import "~src/theme/variables.scss";
@import "~src/theme/custom-variables.scss";

ion-content {
  --background: var(--ion-color-dark);
}

.register-page {
  display: flex;
  flex-direction: column;

  .hero-block {
    padding: 64px 0 0 32px;
    flex: 1;

    &__title span {
      display: block;
    }
  }
}
