@import "~src/theme/variables";

.host-container {
  background-color: var(--ion-color-primary-contrast);

  ion-item {
    flex: 3;
    background-color: var(--ion-color-primary-contrast);
  }

  .proceed-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-label {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
