<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="tabs/table"
        [text]="'TABS.TABLE.PREPARATION.backButton' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ "TABS.TABLE.PREPARATION.toolbarTitle" | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outlined" (click)="shufflePlayers()">
        <ion-icon slot="icon-only" name="repeat" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list class="cards-list with-fixed-element">
  <div class="sticky top host-container">
    <div class="d-flex">
      <!-- Host card -->
      <ion-item *ngIf="host$ | async" data-cy="host-card" lines="none">
        <ion-avatar slot="start">
          <img
            [src]="
              (host$ | async)?.user?.avatar
                ? (host$ | async).user.avatar
                : defaultAvatar
            "
          />
        </ion-avatar>
        <ion-label>
          <h3>{{ (host$ | async)?.nickname }}</h3>
          <p>{{ "TABS.TABLE.PREPARATION.hostTitle" | translate }}</p>
        </ion-label>
        <ion-icon
          slot="end"
          data-cy="change-host-button"
          name="swap-vertical"
          color="medium"
          (click)="presentHostModal()"
        ></ion-icon>
      </ion-item>
      <!-- END Host card -->

      <!-- Add new host button-->
      <ion-item
        data-cy="add-host-item"
        class="add-new"
        *ngIf="(host$ | async) === undefined"
        lines="none"
        (click)="presentHostModal()"
      >
        <ion-icon slot="start" name="add" color="primary"></ion-icon>
        <ion-label color="primary">
          {{ "TABS.TABLE.PREPARATION.setHost" | translate }}
        </ion-label>
      </ion-item>
      <!-- END Add new host button -->

      <div class="proceed-button-container">
        <ion-label
          *ngIf="readyPlayersNumber + (!!(host$ | async) ? 1 : 0) < 11"
          color="primary"
        >
          {{ readyPlayersNumber + (!!(host$ | async) ? 1 : 0) }}/11</ion-label
        >

        <ion-button
          *ngIf="readyPlayersNumber + (!!(host$ | async) ? 1 : 0) === 11"
          data-cy="proceed-button"
          fill="outlined"
          size="large"
          routerLink="/tabs/game/game"
          routerDirection="forward"
          (click)="start()"
        >
          <ion-icon slot="icon-only" name="play" color="primary"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="app-divider"></div>
  </div>
</ion-list>

<app-players-list></app-players-list>
