<ng-container
  *ngIf="(roundNumber$ | async) === 0; then zeroNightBlock; else nightBlock"
></ng-container>

<ng-template #zeroNightBlock>
  <app-zero-night (nextClick)="endNight()"></app-zero-night>
</ng-template>

<ng-template #nightBlock>
  <ng-container [ngSwitch]="stage">
    <app-mafia-hunt
      *ngSwitchCase="NightStages.MAFIA"
      (nextClick)="nextStage()"
    ></app-mafia-hunt>

    <app-don
      *ngSwitchCase="NightStages.DON"
      (nextClick)="nextStage()"
    ></app-don>

    <app-sheriff
      *ngSwitchCase="NightStages.SHERIFF"
      (nextClick)="nextStage()"
    ></app-sheriff>
  </ng-container>
</ng-template>
