.vote-result {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    flex: 2;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 64px;

      span {
        display: block;
        font-weight: bold;
      }
    }
  }

  &__actions {
    flex: 1;
  }
}
