:root {
  --app-border-radius: 4px;
  --app-box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  --app-box-shadow-x2: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  --app-border-width: 1.5px;
  --app-default-card-margin: 16px;
  --app-background-color-transparent-dark: rgba(0, 0, 0, 0.7);

  .ios {
    --app-border-radius: 8px;
  }
}
