@import './variables.scss';

.app-form {
  padding: 32px;
  border-radius: 32px 32px 0 0;
  background-color: white;

  &__error-container {
    height: 16px;
  }

  &__title {
    font-weight: bold;
    color: var(--ion-color-dark);
  }

  ion-item {
    --padding-start: 0;
  }

  ion-button {
    margin-top: 32px;
  }
}
