<div *ngIf="player" class="card-container">
  <ion-card class="player-card">
    <ion-card-header class="player-card__header">
      <div
        class="clip-button top-left text-only text-color-dark-contrast"
        [ngClass]="
          timer?.isSpeechEnded || playerQuitPhase
            ? 'background-color-medium'
            : 'background-color-primary'
        "
      >
        {{ player?.number }}
      </div>
      <ion-card-title class="player-card__header__title text-color-dark">{{
        player?.nickname
      }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="player-card__content">
      <div class="progress">
        <round-progress
          class="progress__circle"
          (click)="switchTimer()"
          [ngStyle]="{
            backgroundImage:
              'url(' + (player?.user.avatar || defaultAvatar) + ')'
          }"
          [current]="timer?.time"
          [max]="maxTime"
          [color]="colors[timeColor]"
          [rounded]="true"
          [responsive]="true"
          [duration]="500"
        >
        </round-progress>
        <ion-badge class="progress__badge" [color]="timeColor">
          {{ timer?.time }}
        </ion-badge>
      </div>

      <ion-buttons class="ion-justify-content-between">
        <ion-button
          (click)="proposePlayer()"
          [disabled]="
            timer?.isSpeechEnded ||
            (proposedPlayer$ | async) ||
            (isVoteDisabled$ | async) ||
            playerQuitPhase
          "
        >
          <ion-icon
            slot="icon-only"
            name="thumbs-up"
            [color]="
              timer?.isSpeechEnded || playerQuitPhase ? 'medium' : 'primary'
            "
          >
          </ion-icon>
        </ion-button>

        <ion-button
          (click)="endPlayerSpeech()"
          [disabled]="timer?.isSpeechEnded || playerQuitPhase"
        >
          <ion-icon
            slot="icon-only"
            name="time"
            [color]="
              timer?.isSpeechEnded || playerQuitPhase ? 'medium' : 'primary'
            "
          >
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>

    <div
      *ngIf="playerQuitPhase"
      class="full-parent-overlay background-color-transparent-dark grid-content-center"
    >
      <span class="text-color-medium">{{ playerQuitPhase }}</span>
    </div>
  </ion-card>

  <ion-card
    #proposedPlayerCard
    @fadeSlide
    *ngIf="proposedPlayer$ | async"
    class="proposed-player-card small-card background-color-medium"
    (click)="withdrawPlayer()"
  >
    <ion-card-content class="text-color-dark-contrast">
      {{ (proposedPlayer$ | async).number }}
    </ion-card-content>
  </ion-card>
</div>
