<ion-list class="cards-list">
  <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
    <!-- Add new player button-->
    <ion-item
      *ngIf="(players$ | async)?.length < 10"
      data-cy="add-player-item"
      class="add-new"
      lines="none"
      (click)="presentPlayerModal()"
    >
      <ion-icon slot="start" name="add" color="primary"></ion-icon>
      <ion-label color="primary">
        {{ "TABS.TABLE.PREPARATION.PLAYERS_LIST.addNewPlayer" | translate }}
      </ion-label>
    </ion-item>
    <!-- END Add new player button-->
    <ion-item
      *ngFor="let player of players$ | async; let i = index"
      class="player-list__item"
      lines="none"
    >
      <div slot="start">
        <div
          class="clip-button top-left text-only text-color-dark-contrast"
          [ngClass]="
            (validRoles$ | async)[player.role]
              ? 'background-color-primary'
              : 'background-color-danger'
          "
        >
          {{ i + 1 }}
        </div>
        <ion-avatar>
          <img
            [src]="player.user?.avatar ? player.user?.avatar : defaultAvatar"
          />
        </ion-avatar>
      </div>

      <ion-label>
        <h3>{{ player.nickname }}</h3>
        <!-- TODO: translate this -->
        <div *ngIf="player.role; then hasRole; else hasNoRole">
          {{
            "TABS.TABLE.PREPARATION.PLAYERS_LIST" +
              (player.isGuest ? ".guest" : ".authorizedUser") | translate
          }}
        </div>
        <ng-template #hasRole>
          <p>
            <ion-text [color]="(validRoles$ | async)[player.role] || 'danger'">
              {{ player.role }}
            </ion-text>
          </p>
        </ng-template>
        <ng-template #hasNoRole>
          <p>
            <ion-text color="danger">
              {{
                "TABS.TABLE.PREPARATION.PLAYERS_LIST" +
                  (player.isGuest ? ".guest" : ".authorizedUser") | translate
              }}
            </ion-text>
          </p>
        </ng-template>
      </ion-label>

      <ion-icon
        data-cy="change-role"
        slot="end"
        name="repeat"
        color="medium"
        (click)="presentRolesMenu(player.user.uid)"
      ></ion-icon>
      <ion-reorder slot="end"></ion-reorder>
      <ion-icon
        slot="end"
        name="close"
        color="medium"
        (click)="removePlayer(player.user.uid)"
      ></ion-icon>
    </ion-item>
  </ion-reorder-group>
</ion-list>
