/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom styles */
@import "./theme/variables.scss";
@import "./theme/clip-buttons.scss";
@import "./theme/cards.scss";
@import "./theme/colors.scss";
@import "./theme/forms.scss";
@import "./theme/custom-variables.scss";
@import "./theme/consigliere-label.scss";

.app-divider {
  border-bottom: 2px solid var(--ion-color-light);
}

.d-flex {
  display: flex;
}

.no-scroll {
  --overflow: hidden;
}

.h100-fixed {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}
// TODO: replace all height: 100% with this class
.h100 {
  height: 100%;
}

.sticky {
  position: sticky;
  z-index: 2;

  &.top {
    top: 0;
  }
}

.full-parent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: grid;
  place-content: center;
  color: white;

  span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.quit-overlay {
  background-color: var(--ion-color-dark);
}

.grid-content-center {
  display: grid;
  place-content: center;

  height: 100%;
}

.flex-centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
